.colred-container{
    background-color: inherit ;
    padding: 1px;
    width: 110px;
    height: 60px;
    text-align: center;
  }
  .logo-img{
    width: 100px;
    height: 50px;
  }
  .brand-container:hover>.colred-container>.logo-img{
    width: 110px;
    height: 60px;
  }
  .brand-name{
    background-color: rgb(26, 25, 25);
    color: ghostwhite;
    padding: .75rem;
    width: 120px;
    text-align: center;
  }
  .brands-container{
    display: flex;
  }
  .colored-cards-container>*{
    margin: unset;
  }
  .colored-cards-container{
    padding: 0 1rem;
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to bottom ,#92c8f5,#d7e9f5 95% , #f1fad2 );
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgb(139, 139, 139);
    margin: 1rem;
  }
  .colored-cards-description>*{
    margin: unset;
  }
  .colored-cards-description>h4{
    margin-top: .5rem ;
  }
  .colored-cards-description{
    width: 100%;
  }
  .mobile-page-link{
    color: inherit;
    text-decoration: none;
  }
  .mobile-page-link:hover{
    color: rgb(44, 128, 238);
  }
  