.footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
}
.footer-details,.footer-helpcenter{
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.footer-helpcenter{
  border-top: 1px solid gray;
}
.link{
  text-decoration: none;
  color: ghostwhite;
  font-size: .8rem;
  font-weight: 600;
}
.link:hover{
  text-decoration: underline;
}
.footer-links{
  list-style: none;
  margin: unset;
}
@media (max-width:660px) {
  .footer-helpcenter{
    flex-wrap: wrap;
    padding: 5px 0px;
    row-gap: 10px;
  }
  .footer-details{
    display: grid;
    grid-template-columns: 50% 50%;
  }
}