.header{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(78, 108, 241);

}
.nav-bar{
  display: flex;
  padding: 1% 10%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
}
.category-container{
  display: flex;
  flex-direction: row;
  gap:5%;
  padding:1% 4%;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 4px grey;
}
.category-card{
  display: flex;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.category-card>img{
  height: 4rem;
  width: 4rem;
  border-radius: .25rem;
}
.carousel-category-container{
  padding: 10px;
  box-shadow: inset 0px 0px 4px rgb(99, 99, 99);
}
.item-title{
  margin: unset;
}
.logo-link-element{
  color: inherit;
  text-decoration: none;
}
.dropdown{
  position: relative;
}
.dropdown-menu,.inner-menu{
  list-style: none;
  margin: unset;
  position: absolute;
  background-color:rgba(245, 245, 245,1);
  min-width: 120px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
  z-index: 999;
  transition: all linear .3s;
  cursor: pointer;
  text-align: center;
  padding: 10px 5px;
  min-height: 150px;
}
.inner-menu{
  top: 0px;
  left: 80%;
  display: none ;
}
.dropdown-item ,.inner-menu>li{
  margin: unset;
  width: 100%;
  padding: 5px;
  display: flex;
}
.dropdown-item:hover,.inner-menu>li:hover{
  background-color: rgb(201, 198, 198);
  box-shadow: 0px 0px 3px rgb(119, 118, 118);
}
.dropdown-item:hover>.inner-menu{
  display:block ;
}
.category-card:hover {
  color: blue;
}
.dropdown-category-container{
  width: 100%;
  position: relative;
}
.category-links{
  text-decoration: none;
  color:rgb(44, 44, 44);
}
.login-btn.MuiButton-root{
  background: whitesmoke;
  color:rgb(78, 108, 241); 
}
.login-btn.MuiButton-root:hover{
  background:rgb(78, 108, 241);
  color: ghostwhite; 
}
.logo-heading,.nav-tools{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
@media (max-width:768px) {
  .login-btn.MuiButton-root{
    color: whitesmoke;
    background: inherit;

  }
  .login-btn.MuiButton-root:hover{
    background: rgb(99, 126, 247);
  }
}
