.header{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #2874f0;
}
.nav-bar{
  display: flex;
  padding: 1% 5%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
}
.category-container{
  display: flex;
  flex-direction: row;
  gap:5%;
  padding:1% 4%;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 4px grey;
}
.category-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.category-img{
  height: 4rem;
  width: 4rem;
  border-radius: .25rem;
  margin-bottom: 1rem;
}
.carousel-category-container{
  padding: 10px;
  box-shadow: inset 0px 0px 4px rgb(99, 99, 99);
}
.item-title{
  margin: unset;
  display: flex;
  align-items: center;
}
.dropdown-arrow-icon{
  position: relative;
  top: 2px;
}
.logo-link-element{
  color: inherit;
  text-decoration: none;
}
.dropdown{
  position: relative;
}
.dropdown-menu,.inner-menu{
  list-style: none;
  margin: unset;
  position: absolute;
  background-color:rgb(255, 255, 255);
  min-width: 200px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.7);
  z-index: 999;
  transition: all linear .3s;
  cursor: pointer;
  padding: 10px 5px;
  min-height: 150px;
}
.inner-menu{
  top: 0px;
  left: 80%;
  display: none ;
}
.dropdown-item ,.inner-menu>li{
  margin: unset;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.dropdown-item:hover,.inner-menu>li:hover{
  background-color: rgb(179, 235, 240);
  box-shadow: 0px 0px 3px rgb(119, 118, 118);
}
.dropdown-item:hover>.inner-menu{
  display:block ;
}
.item-title:hover {
  color: blue;
}
.dropdown-category-container{
  width: 100%;
  position: relative;
}
.category-links{
  text-decoration: none;
  color:rgb(44, 44, 44);
}
.login-btn.MuiButton-root{
  background: whitesmoke;
  color:rgb(78, 108, 241); 
}
.login-btn.MuiButton-root:hover{
  background:#2a55e5;
  color: ghostwhite; 
}
.login-btn.MuiButton-root:disabled{
  background-color: gray;
  color: #fff;
}
.logo-heading,.nav-tools{
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.logo-heading{
  justify-content: center;
}
.nav-tools{
  justify-content: flex-end;
}
.avatar-container{
  position: relative;
}
.avatar-container:hover>.profile-dropdown-container{
  display: block;
}
.profile-dropdown-container{
  position: absolute;
  right: -50px ;
  z-index: 999;
  text-align: center;
  display: none;
  padding: 10px;
  box-shadow: 0px 0px 3px gray;
  background-color: white;
  min-width: 150px;
  min-height: 100px;
}
.search-link{
  color: unset;
  text-decoration: unset;
}
.become-seller-header-button.MuiButtonBase-root{
	width: fit-content;
	transform: translateX(-10px);
  color: #fff;
  min-width: 170px;
}
.become-seller-header-button.MuiButtonBase-root.no-min-width{
  min-width: unset;
}
.hamburger-menu{
  display: none;
}

@media (max-width:768px) {
  .login-btn.MuiButton-root{
    color: whitesmoke;
    background: inherit;

  }
  .login-btn.MuiButton-root:hover{
    background: rgb(99, 126, 247);
  }
  .dropdown-menu{
    right: 0;
  }
}
@media (max-width:600px) {
  .hamburger-menu{
    display: block;
  }
  .nav-bar{
    justify-content: space-between;
  }
  .nav-tools{
    display: none;
  }
  
}
