.compare-page{
    padding: 2rem 4rem;
    /* padding-left: 18%;
    padding-right: 18%;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto; */
    background-color: rgb(239 239 239);
}
.compare-product-image-section{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.compare-section{
    margin-top: 6px;
}
.compare-section-heading{
    background-color: white;
    font-size: 15px;
    color: gray;
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.compare-specifications{
    display: flex;
}

@media (max-width: 767px) {
    .compare-page{
        padding: 10px;
    }
}