.profile-container{
    background-color: rgb(238, 236, 236);
}
.profile-outer-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2%;
    gap: 1%;
}
.profile-inner-page-container{
    display: flex;
    height: 75vh;
    flex-direction: column;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
    flex-grow: 1;
    padding: 10px;
    position: sticky;
    top: 80px;
}
.profile-page-names{
    padding: 10px;
    font-size: 1rem;
    text-wrap: nowrap;
    cursor: pointer;
}
.profile-address-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px gray;
    gap:1rem;
    align-self: center;
    min-height: 75vh;
    width: 80vw;
    background-color: white;
    /* overflow-y: scroll; */
}
.profile-heading.MuiTypography-h5{
    margin: 2% ;
    color: rgb(0, 85, 255);
    font-weight: 500;
}
.selected{
    background-color: #c3dbf3;
    color: #2874f0;
}
@media (max-width:850px) {
    .profile-address-container{
        width: 95vw;
        height: unset;
        overflow: unset;
    }
    .profile-outer-container{
        flex-direction: column;
        gap: 1rem;
    }
    .profile-inner-page-container{
        flex-direction: row;
        height: unset;
        align-self: stretch;
        gap: 5px;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 500px) {
    .profile-address-container{
        padding: unset;
    }
}
