.specifications-list{
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
    flex-grow: 1;
    background-color: white;
    margin: 0px;
    padding: 8px;
    border: 1px solid gray;
}
.specification{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}
.specifications-button-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.specifications-button{
    background-color: orangered;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    height: 40px;
    margin-bottom: 5px;
    cursor: pointer;
}