.order-card{
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
    box-shadow: 0px 0px 0px 1px gray;
}
.order-card-header-title{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 14px;
}
.order-card-header{
    display: flex;
    justify-content: space-between;
}
.order-items-list{
    list-style-type: none;
    padding-left: 0px;
}
.order-summary{
    display: flex;
    align-items: center;
}
.order-icon{
    height: 33px;
    width: 33px;
}
.order-status{
    font-size: 18px;
    margin-right: 6px;
    margin-left: 6px;
}
.order-detail-gray{
    font-size: 15px;
    color: gray;
}
.return-cancel-button{
    align-self: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: rgb(44, 80, 241);
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
.shipping-details-header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-top: 5px;
}
.shipping-to {
    width: 35%;
}
.shipping-address{
    width: 65%;
}
.shipping-header-paragraph {
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inner-modal-container{
    display: flex;
    flex-direction: column;

}
.modal-buttons{
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    cursor: pointer;
}
.modal-confirm-button{
    background-color: rgb(41, 41, 248);
    border: none;
    margin-bottom: 10px;
    color: white;
}
.modal-cancel-button{
    background-color: transparent;
}
.error-msg {
    font-weight: 500;
    font-size: 15px;
    color: red;
}
.display-error-msg{
    display: block;
}
.hide-error-msg{
    display: none;
}

@media (max-width: 767px) {
    .return-cancel-button {
        padding: 8px;
    }
}