.footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);

}
.footer-details{
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.footer-helpcenter{
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  border-top: 1px solid gray;
}
.link{
  text-decoration: none;
  color: ghostwhite;
  font-size: .8rem;
  font-weight: 600;
}
.link:hover{
  text-decoration: underline;
}
ul{
  list-style: none;
  margin: unset;
}