*{
  box-sizing: border-box;
}
.login-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding:5%;
  border-radius: .25rem;
}
.login-page{
  display: flex;
  justify-content: center;
  background-size: cover;
}
.login-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 300px;
}
.heading{
  font-size: 32px;
  font-style: italic;
  text-decoration: underline;
  color: midnightblue;
  margin: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar{
  float: left;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 100%;
  width: 100%;
}
.filter-button{
  background-color: rgb(234, 234, 238);
  padding: 0 10px;
  color: rgb(34, 34, 34);
}
.product-img{
  width: 50px;
  height: 50px;
}
.img-item{
  border:1px double black;
  margin: .25rem;
  padding: .25rem;
}
/* .img-item:hover{
  border: 1px solid blue;
  box-shadow: 0px 0px 3px blue;
} */
@media (max-width:768px) {
  .side-bar{
    margin: unset;
  }
}