.product-image-compare-card{
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border: 1px solid gray;
}
.compare-product-image{
    width: 150px;
    height: 150px;
}
.compare-product-name{
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 5px;
}
.compare-product-rating-container{
    display: flex;
    align-items: center;
    background-color: rgb(17, 133, 17);
    color: white;
    width: fit-content;
    padding: 1px 5px 1px 5px;
    font-size: 12px;
}
.compare-product-price{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}