.mobile-container{
  padding: 2rem 1.5rem;
  border: 1px solid rgb(252, 244, 244);
}
.mobile-card{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  line-height: 1.5;
}
.mobile-title{
  font-weight: 600;
  font-size: 1.5rem;
}
.rating{
  display: flex;
  border-radius: 4px;
  background-color: green;
  width: 2.5rem;
  justify-content: center;
  font-size: .75rem;
  align-items: center;
  color: ghostwhite;
  padding: .25rem .5rem;
  gap: 2px;
  height: 1.5rem;
  line-height: initial;
}
.mobile-img-container{
  align-self: center;
  height: 12rem;
  width: 12rem;
}
.mobile-img{
  max-width: 100%;
  max-height: 100%;
}
.price-tag{
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: .125rem;
}
.mobile-price-tag{
  display: flex;
  flex-direction: column;
  gap: .125rem;
}
.mobile-specifications-list{
  margin: unset;
  list-style: none;
  padding: unset;
  margin-top: .25rem;
}
.mobile-specifications-list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: grey; 
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em;
}
.mobile-details{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
.deals{
  color: green;
  font-weight: 500 !important;
}
.mobile-specifications{
  display: flex;
  flex-wrap: wrap;
  margin: .5rem;
}
.mobile-specification-details.MuiTypography-root{
  margin: .5rem;
  padding: .5rem;
  background-color: darkgrey;
  color: whitesmoke;
}
.detailed-card-link{
  color: unset;
  text-decoration: unset;
}
.mobile-container:hover>.mobile-card>.mobile-details>.mobile-title{
  color:blue;
}
.specification-price-outer-container{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

@media (max-width:768px) {
  .mobile-img-container{
    height: 8rem;
    width: 8rem;
  }  
}
