.cards-container{
  padding: 2rem 1rem;
}
.cards{
 text-align: center;
 padding:.5rem;
 border: 1px solid rgb(224, 221, 221);
 box-shadow: 0px 0px 3px rgb(187, 186, 186);
 border-radius: 4px;
 width: fit-content;
 margin: auto;
}
.cards-context>*{
  margin: .5rem;
}
.card-img{
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
  width: 220px; 
  margin: auto; 
}
.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
  background: #fcfcfc;
  width: 47px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}
.carousel .slick-prev {
  left: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.carousel .slick-next {
  right: 0;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
@media (max-width:768px) {
  .card-img{
    height: 150px;
    width: 150px;
  }
  .cards-context>*{
    font-size: 1rem;
  }
}